.dropdown {
  position: relative;
  display: inline-block;
}

.filter-button {
  height: 35px;
  padding: 10px 20px;
  background-color: #28A745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 100%; 
  transform: translateX(-6.5rem);
  background: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-content label{
  display: block;
  text-align: left;
  color: black;
  font-family: 'Segoe UI';
  padding-top: 5px;
}

.dropdown-content input{
  margin-top: 3px;
  width: 10rem;
}

.dropdown-content button{
  width: 50%; 
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background-color: #ffc107;   
  color: #000000;                 
  cursor: pointer;                             
  transition: background-color 0.2s ease;
}

.dropdown-content button:hover{
  background-color: #e0a800;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
