.sidebar-container {
  position: fixed;
  right: 0;
  top: 70px; 
  width: 100%;
  max-width: 500px;
  height: calc(100% - 70px);
  background-color: #1c1c1c;
  color: #fff;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  overflow-y: auto;
  z-index: 20;
}

.sidebar-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-header h2{
  flex: 1;
  font-size: 1.4em;
  color: #ffffff;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.input {
  width: 70%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 0.9rem;
}

.input::placeholder {
  color: #aaa;
}

.sidebar-header .close-button {
  position: absolute;
  top: -13px;    
  right: 8px;   
  background: none;
  border: none; 
  color: #ff0000;
  font-size: 2.6rem;
  cursor: pointer;
  transition: transform .15s ease;
}

.sidebar-header .close-button:hover{
  transform: scale(1.1);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2a2a;
  min-height: 180px;
  width: 100%;
  max-width: 420px;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  gap: 5px;
}

.sidebar-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-card .header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.sidebar-card h3 a {
  text-decoration: none;   
  color: inherit;         
}

.sidebar-card h3{
  text-align: center;
  max-width: 330px;
  color: #3f51b5;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.sidebar-card h3:hover{
  text-decoration: underline;
}

.sidebar-card p {
  font-size: 0.9rem;
  color: #ccc;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -5px;
  background: rgba(255, 0, 0, 0.12);
  color: #ff4d4d;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid rgba(255, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  transition: all 0.2s ease; 
}

.delete-button:hover {
  color: #ff4d4d;
  transform: scale(1.15);
}

.empty-message {
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 1800px) {
  .sidebar-container {
    width: 450px;
  }

  .sidebar-card {
    max-width: 370px;
  }

  .sidebar-card h3{
    font-size: 0.95rem;
    width: 290px;
  }

  .sidebar-card p{
    font-size: 0.8rem;
  }

  .delete-button {
    width: 28px;
    height: 28px;
    font-size: 1rem;
  }
}

@media (max-width: 1440px) {
  .sidebar-container {
    width: 400px;
  }

  .sidebar-card {
    max-width: 320px;
  }

  .sidebar-card h3{
    font-size: 0.95rem;
    width: 230px;
  }
}

@media (max-width: 1200px) {
  .sidebar-container {
    width: 380px;
  }
}
