.article-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-width: 800px;
    margin: auto auto 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s;
    overflow: hidden;
}

.article-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    position: absolute;
    right: 0.05rem; 
    top: 15%;
    cursor: pointer;
    color: #666;   
    transform: translateY(-50%) translateX(70%);
}

.article-card-header {
    position: relative;
    justify-content: space-between;
    align-items: center;     
}

.article-card-header a.title h3 {
    display: inline-block;    
    overflow: hidden;
    width: 80%; 
    font-size: 1.1rem;
    color: #151f75;
    cursor: pointer;
    transition: color 0.2s;
}

.article-card-header h3:hover {
    color: #3f51b5; 
    text-decoration: underline;
}

.article-save-button{
    position: absolute;
    border-radius: 20%;
    width: 1.8rem;
    height: 1.7rem;
    font-size: 25px;
    right: -0.5rem; top: -0.5rem;
    cursor: pointer;
    border: none;
    color: rgba(29, 171, 29, 0.781);
}

.article-save-button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.article-save-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.article-card .source, .pub-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.authors {
    margin-bottom: 5px;
    padding-top: 10px;
    border-top: 1px dotted #eee;
    font-size: 0.95em;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.authors strong {
    color: #3f51b5;
    font-weight: 600;
}
