.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f8f9fa;
}

.main-content {
  align-items: center;  
  margin-top: var(--header-height);
  padding-top: 15px;
  flex: auto;  
  background: linear-gradient(135deg, #0d1b2a, #1b2a47);
  color: #ffffff;
  overflow-y: auto;
}

.main-content .results-header h2 {
  flex: auto;
  align-items: center;
  font-size: 1.4em;
  color: #ffffff;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.main-content .results-header p{
  padding-bottom: 0.5rem;
  font-size: 18px;
}

.error-message {
  color: #d32f2f; 
  background-color: #ffebee; 
  border: 1px solid #ef9a9a;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
}
