.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.search-bar input{
    width: 500px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-button{
    height: 35px;
    padding: 10px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.filter-button{
    height: 35px;
    padding: 10px 20px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
