.search-bar{
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input{ 
  min-width: 400px;
  max-width: 500px;   
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
}

.search-button{
  height: 35px;
  padding: 10px 25px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.filter-button {
  height: 35px;
  padding: 10px 20px;
  background-color: #28A745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
  transform: translateX(-14.4rem) translateY(1rem);
}

.dropdown-content {
  position: absolute;
  background: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-content label{
  display: block;
  text-align: left;
  color: black;
  font-family: 'Segoe UI';
  padding-top: 5px;
}

.dropdown-content input{
  margin-top: 3px;
  min-width: 150px;
  max-width: 200px;
}

.dropdown-content .apply-button{
  width: 60%; 
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
  background-color: #ffc107;   
  color: #000000;                 
  cursor: pointer;                             
  transition: background-color 0.2s ease;
}

.dropdown-content button:hover{
  background-color: #e0a800;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
