.header-container {   
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  min-height: 70px;
  max-height: fit-content;
  width: 100%;
  padding: 0 2rem;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 30;
}

.header-left {
  flex: 1;
}

.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 10px;
  font-size: 1.4em;
}

.header-middle h1 {
  font-size: 1.8em;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.auth-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.auth-group p {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}

.auth-group .button1, .button2 {
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button1::after, 
.button2::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0217ff;
  transition: 0.3s;
}

.button1:hover::after,
.button2:hover::after {
  width: 100%;
}  

.header-button:hover {
  background-color: #2a3b5a;
}
