.authform-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.authform-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow-y: auto; 
  z-index: 1000;
}

.authform-box {
  width: 450px;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  position: relative;
}

.authform-box input {
  width: 90%;
  font-size: 16px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.authform-header h2 {
  color: #333;
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.authform-box .submit-button {
  width: 100%;
  max-width: 100px;
  margin-top: 10px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.authform-box .submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} 

.authform-header .close-button {
  position: absolute;
  top: 1.2rem;
  font-size: 1.3rem;
  right: 1rem;
  width: 38px;
  height: 38px;
  background-color: #dc3545;
  color: white;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}

.authform-header button.close-button:hover {
  background-color: #ff0019;
}

.message {
  margin-top: 1.3rem;
  color: rgba(255, 0, 0, 0.795);
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 1800px) {
  .authform-box {
    width: 400px;
  }
}
