.authform-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.authform-modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.authform-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  max-height: fit-content;
  max-width: 550px;
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  gap: 1rem;
}

.authform-box input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.authform-box h2 {
  color: #333;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px; 
}

.authform-box button {
  width: 30%;
  margin: auto auto 10px;
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.authform-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} 

.message {
  color: rgba(255, 0, 0, 0.795);
  font-weight: bold;
  font-size: 18px;
}

.authform-box button.close-button {
  width: fit-content;
  position: absolute;
  top: 1px;
  right: 8px;
  margin: 10px auto 0 auto;
  display: block;
  padding: 10px;
  background-color: #dc3545; 
  color: white;
  font-size: 18px;
  border-radius: 20%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}