* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(360deg, #4e4b53 0%, rgba(255, 255, 255, 0.8) 100%);
  background-attachment: fixed;
}